/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

body {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
}
/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; }
}
/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

.title-stuff {
  margin-right: 20px !important;
}

.btn:hover {
  background-position: right center !important; /* change the direction of the change here */
  color: white;
}

.btn-1 {
  background-image: linear-gradient(to right top, #ff6f91, #ff7689, #ff7d81, #ff847b, #ff8c76, #ff9372, #ff9a6e, #ffa16b, #ffaa67, #ffb363, #ffbd61, #ffc75f) !important;
  color: white;
  border-radius: 25px;
}

.md-form .prefix {
  top: .5rem !important;
}

.imageBox {
  width: 80%;
  margin: 0 auto;
}

.image {
  width: 100%;
}

#Success .modal-header {
  background-image: linear-gradient(to right top, #ff6f91, #ff7689, #ff7d81, #ff847b, #ff8c76, #ff9372, #ff9a6e, #ffa16b, #ffaa67, #ffb363, #ffbd61, #ffc75f) !important;
}

#Success .fas {
  color: #ff847b !important;
}

.deals {
  background-image: linear-gradient(to right top, #ff6f91, #ff7689, #ff7d81, #ff847b, #ff8c76, #ff9372, #ff9a6e, #ffa16b, #ffaa67, #ffb363, #ffbd61, #ffc75f) !important;
}

/* --------------------------------------------------------------  new shit below */

.intro {
  background-color: #F4F4F4;
}

.signup {
  /* background-color: #5b5b5b; */
  background-color: #FBAB62;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase !important;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 14pt !important;
  margin-left: 0;
  box-shadow: 0px 15px 23px -4px rgba(0,0,0,.18);
}

.signup:hover{
  box-shadow: 0px 20px 18px -9px rgba(0,0,0,.25);
}

.crisis-response {
  background-color: white;
  /* border-radius: 25px; */
  color: #F47F7F;
  border-top: 10px solid #F47F7F;
}

.mental-health {
  background-color: white;
  /* border-radius: 25px; */
  color: #98DAF6;
  border-top: 10px solid #98DAF6;

}

.tba {
  background-color: white;
  /* border-radius: 25px; */
  color: #FBAB62;
  border-top: 10px solid #FBAB62;

}

.card-text {
  /* color: white !important; */
  font-weight: 400 !important;
  padding: 20px;
  line-height: 185%;
}

.logo {
  width: 60% !important;
}

.vertical-crisis {
  background-color: white;
  padding: 20px;
  padding-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.vertical-mental {
  background-color: white;
  padding: 20px;
  padding-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.vertical-tba {
  background-color: white;
  padding: 20px;
  padding-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 0 !important;
  text-align: left !important;
}

.card {
  box-shadow: 0px 90px 60px -40px rgba(0,0,0,.16) !important;
  text-align: center !important;
  border-radius: 5px;
}

.verticals-title {
  text-align: right;
  text-transform: lowercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 48pt;
  color: #5b5b5b;
  font-family: 'Poppins', sans-serif;
}

.hr-vertical {
  width: 30%;
  border-width: 1px;
  margin-top: 0;
  float: left;
  margin-left: 20px;
}

.graphic{
  margin-left:0px;
}

.icon{
  width: 93px;
  margin-top: 10px;
}

.icon-mental{
  width: 63px;
  margin: 20px;
  margin-bottom: 10px;
}

.card-title{
  text-align: left;
  letter-spacing: 5px;
  padding-top: 10px;
}

footer{
  z-index: 999;
  position: absolute;
  display: block;
  margin-top: -18px;
  padding: 40px 20px;
  background: #f4f4f4;
  font-weight: 400;
  text-align: center !important;
  width: 100%;
  color: #5b5b5b;
}

footer a{
  color: #FBAB62;
  font-weight: bold;
}

footer a:hover{
  color: #98DAF6;
}

#mlh-trust-badge{
  margin-top: -8px;
}

#mlh-trust-badge:hover{
  margin-top: 0px;
}
